.dashboard-container.development {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.kpi-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.chart-column {
  flex: 2;
}

.pie-column {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
